.text-mobileH1 {
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  line-height: 20px;
}

.text-mobileH2 {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  line-height: 20px;
}

.text-mobileH3 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  line-height: 20px;
}

.text-mobileButton {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.text-MobileMenuLink {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.text-mobileRegular {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text-mobileCaptions {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  line-height: 20px;
}
